<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Listing</title>
</head>
<body>
    <h1>Create New Listing</h1>
    <form method="post" action="/listings">
        <label for="title">Title:</label>
        <input name="title" id="title" placeholder="Enter title" type="text" required />
        <br><br>
        
        <label for="description">Description:</label>
        <textarea name="description" id="description" placeholder="Enter description"></textarea>
        <br><br>
        
        <label for="image">Image URL:</label>
        <input name="image" id="image" placeholder="Enter image URL" type="text" />
        <br><br>
        
        <label for="price">Price:</label>
        <input name="price" id="price" placeholder="Enter price" type="number" required />
        <br><br>
        
        <label for="country">Country:</label>
        <input name="country" id="country" placeholder="Enter country" type="text" required />
        <br><br>
        
        <label for="location">Location:</label>
        <input name="location" id="location" placeholder="Enter location" type="text" required />
        <br><br>
        
        <button type="submit">Add</button>
    </form>
</body>
</html>
